<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363551420024-g50o6qpv67pppaq1ftjue1gr7abfti69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363551420024-g50o6qpv67pppaq1ftjue1gr7abfti69</string>
	<key>API_KEY</key>
	<string>AIzaSyAUFCgtYq18STrCryUScsnXYaDI_8bc4d4</string>
	<key>GCM_SENDER_ID</key>
	<string>363551420024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floop</string>
	<key>PROJECT_ID</key>
	<string>floop-ad59e</string>
	<key>STORAGE_BUCKET</key>
	<string>floop-ad59e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363551420024:ios:41089ca1864077825d478d</string>
</dict>
</plist>